:root {
    --cor-box-shadow: rgb(78, 152, 168);
}

.navbar {
    padding: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(12, 99, 119, 0.3);
    box-shadow: 1px 1px 5px var(--cor-box-shadow);
}

.navbar li {
    background-color: rgba(5, 29, 34, 0.4);
    cursor: pointer;
    font-size: 13pt;
    transition: .5s;
}

.navbar li:hover {
    color: var(--cor-box-shadow);
}

input {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar li {
        padding: 5px;
    }
}