.navbar {
    padding: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(7, 53, 63);
    box-shadow: 1px 1px 5px rgb(78, 152, 168);
}

.navbar li {
    background-color: rgb(7, 53, 63);
    font-size: 13pt;
    transition: .5s;
}

.navbar li:hover {
    color: rgb(78, 152, 168);
}

.links {
    background-color: rgb(7, 53, 63);
    text-decoration: none;
}

input {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar li {
        padding: 5px;
    }
}