.navbar {
    padding: 2rem;
    margin: auto;
    text-align: center;
    list-style: none;
    background-color: var(--cor-detalhes);
}

input {
    border: none;
    padding: 10px 3rem;
    border-radius: 5px;
    text-align: center;
}


@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}