:root {
    --cor-detalhes: rgb(80, 223, 255);
}


ul {
    list-style: none;
    margin: auto;
}

.filmes ul {
    margin-top: 10%;
}

.filmes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 5rem 0;
}

.filmes img {
    box-shadow: 1px 4px 5px rgba(80, 223, 255, 0.3);
    width: 200px;
    transition: .5s;
}

.filmes img:hover {
    box-shadow: 1px 4px 5px rgba(2, 82, 255, 0.3);
}

.titulo {
    font-size: 15pt;
    color: var(--cor-detalhes);
}

.classific {
    position: relative;
    border: 1px solid;
    border-radius: 80%;
    font-size: 10pt;
    padding: 5px;
    max-width: 25px;
    margin: auto;
    text-align: center;
    color: black;
    background-color: yellow;
}

.carrega {
    margin-top: 40vh;
    text-align: center;
}

.carrega p {
    color: var(--cor-detalhes);
}

.loading {
    border: 1px solid var(--cor-detalhes);
    border-right: none;
    width: 50px;
    margin: 1rem auto;
    height: 50px;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

.erroFilme {
    color: var(--cor-detalhes);
    margin: 40vh auto;
    text-align: center;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 880px) {
    .filmes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 5rem 0;
}
}

@media screen and (max-width: 700px) {
    .filmes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 5rem 0;
}
}

@media screen and (max-width: 600px) {
    .filmes {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 5rem 0;
}
}